# Diretórios indesejados
# Relatórios e referências
Imagens relatório/*
Referencias/*

#Arquivos de dados
sequencias/*
Sinais/*
Janelas/*
Resultados/*

# Outros
*/__pycache__/*
.vscode/*
Extras/*


# Extensões indesejadas
*.pptx
*.ppt
*.docx
*.doc
*.mp4
*.zip
*.txt
*.gz


# Virtualenvs
*/venv/*
*/__pyenv__/*
poetry.lock
.python-version

