# Diretórios indesejados
# Relatórios e referências
Imagens relatório/*
Referencias/*

#Arquivos de dados
sequencias/*
Sinais/*
Janelas/*
Resultados/*
Gráficos/*
Vetores/*

# Outros
**/__pycache__/
.vscode/*
Extras/*
.idea/


# Extensões indesejadas
*.pptx
*.ppt
*.docx
*.doc
*.mp4
*.zip
*.txt
*.gz
*.pyc

# Virtualenvs
*/venv/*
*/__pyenv__/*
poetry.lock
.python-version

