# Diretórios indesejados
Imagens relatório/*
Referencias/*
*/__pycache__/*

# Extensões indesejadas
*.pptx
*.ppt
*.docx
*.doc
*.mp4
*.zip
*.txt
*.gz


# Virtualenvs
*/venv/*
*/__pyenv__/*
.poetry.lock
.python_version
